@import 'assets/scss/general/mixins';
@import 'assets/scss/framework/scss-variables';

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.empty {
  padding-top: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.link {
  margin-top: 100px;
}

.list {
  & > a {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    cursor: pointer;
  }
}
