@import 'assets/scss/general/mixins';
@import 'assets/scss/framework/scss-variables';

.esq-autocomplete__container {
  position: relative;
}

.esq-autocomplete__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-width: 500px;
  background: #FFFFFF;
  border: 1px solid #F8F9FA;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;

  &_empty {
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }

  & > * {
    overflow-y: auto;
    max-height: 300px;
  }
}

.esq-autocomplete__item {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f8f9fb;
  }
}
